{%extends 'auth/base.html'%}
{% load crispy_forms_tags %}

{%block content%}

  <div id="register">
        <div class="container">
            <div id="register-row" class="row justify-content-center align-items-center">
                <div id="register-column" class="col-md-6">
                    <div id="register-box" class="col-md-12">
                        <form id="register-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Change Password</h3>
                                 {%csrf_token%}
                                 {{form|crispy}}
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-outline-info btn-md" value="submit">
                            </div>
                            <div id="register-link" class="text-right">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}