{% extends 'admin_base.html'%}

{% block content%}

		<div class="main-content">
			<div class="title">
				Analytics
			</div>
			
			<div class="main">
				<div class="widget1">
					<div class="title">Number of Orders</div>
					<div class="chart" style="padding:10px;">
						<h1 style="font-size:4.5em;color:#fff;">{{order_qs}}</h1>
						<i class="fa fa-shopping-cart" aria-hidden="true" style=" font-size: 9.5em;color: #fff;
    text-shadow: 1px 1px 1px #ccc;"></i>
					</div>
				</div>
				<div class="widget2">
					<div class="title">Number of likes</div>
					<div class="chart"></div>
				</div>
				<div class="widget3">
					<div class="title">Number of comments</div>
					<div class="chart"></div>
				</div>
			</div>
			jhkl;
		</div>
		
{%endblock%}