{%extends 'new_base.html'%}
{% load static%}
{%block content%}
<div class="container my-5" style="">


<div class="row">

  <div class="col-lg-12">
<h3 class="text-center">Order ID: {{object_list}}</h3>
      <hr>
    <br>
    <div class="box-element">
    <a href="{% url 'Orders:order_list'%}" class="btn btn-outline-dark my-3">&#x2190; Order History</a>

      <div class="cart-row">

          <div style="flex:2"><strong><h4>Items Quantity</h4></strong></div>
          <div style="flex:2"><strong><h4>Items</h4></strong></div>
            <div style="flex:2"><strong><h4>Items Price</h4></strong></div>
          <div style="flex:2"><strong><h4>Cart total</h4></strong></div>
          <div style="flex:2"><strong><h4>Order total</h4></strong></div>

      </div>

      <div class="cart-row ">
          <div style="flex:2" class="text-center">
             <h5>{%for product in object_list.cart.cartitem_set.all%}

              {{product.quantity}} <br>

                {%endfor%}
            </h5>
        </div>
        <div style="flex:2">
             <h5>{%for product in object_list.cart.cartitem_set.all%}

                {{product}} <br>

                {%endfor%}
            </h5>
        </div>
          <div style="flex:2"><h5>
              {%for product in object_list.cart.cartitem_set.all%}

               ${{product.products.price}}<br>

                {%endfor%}
          </h5></div>
        <div style="flex:2"><h5>${{object_list.cart.total}} </h5></div>
        <div style="flex:2"><h5>${{object_list.total}}</h5></div>


      </div>

    </div>

  </div>
</div>

    {%for product in object_list.cart.cartitem_set.all%}

             {{product.quantity}} <br>

                {%endfor%}
</div>
{%endblock%}


