{%extends 'new_base.html'%}
{%block content%}
<div class="container" style="margin-top:5%;">
	<div class="row">
		<div class="col-12">
				<div class="alert my-5" role="alert" style="background-color:#fff;color:#16a085;" >
    			<h2>{{object.title}}</h2>
					{%for x in object.category.all%}
					 {{x}}
					{%endfor%}

				</div>
		</div>

	</div>
	<div class="row">
		<div class="col-6">

			<div class="alert " role="alert" style="background-color:#fff;">
    			{%if object.image%}
			<img class="thumbnail" src="{{object.image.url}}" style="height:500px;">
			{%endif%}
				</div>
		</div>
		<div class="col-6">


    			<h2>{{object.title}}</h2>
				<h3>{%for x in object.category.all%}
					 {{x}}
					{%endfor%}
				</h3>
			<hr>
			<h4>${{object.price}}</h4>
			<hr>
			<h5>Brand:{{object.company_name}}</h5><br>
			 {%include 'medecine/snippets/update_cart.html' with product=object cart=cart%}
			<hr>

			<div id="accordion">




  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
      Description
      </a>
    </div>
    <div id="collapseThree" class="collapse" data-parent="#accordion">
      <div class="card-body">
        {{object.description}}
      </div>
    </div>
  </div>

</div>
	</div>







</div>
{%endblock%}
<div class="container"  style="margin-top:5%;height: ;">
  <div class="row">
		<div class="col-lg-8">
			<div class="box-element">

				<a  class="btn btn-outline-dark" href="{% url 'products:list'%}">&#x2190; Continue Shopping</a>

				<br>
				<br>
				<table class="table">
					<tr>
						<th>
							<div class="col-lg-6">
								{%if object.image%}
					<img class="thumbnail" src="{{object.image.url}}">
								{%endif%}
					<div class="box-element product">
						<h6><strong>{{object.description}}</strong></h6>
						<hr>

						  {%include 'medecine/snippets/update_cart.html' with product=object cart=cart%}



			</div>
		</div>

					</tr>
				</table>

			</div>

			<br>

		</div>
	</div>
</div>