/*import google font*/
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Roboto:ital,wght@1,300&display=swap');

:root{
	--light-gray:#2b3032a1;
	--primary-color: #16a085;
	--text-color:#fff;
	--roboto:"Roboto",sens-serif;
	--goodtime:"GOOD TIMES", sens-serif;
	--alata:"Alata"sens-serif;
}

.primary-color{
	color: var(--primary-color);
}
.bg-primary-color{
	background-color:var(--primary-color)!important;
}
.text-color{
	color: var(--text-color);
}
.font-roboto{
	font-family:var(--roboto);
}
.light-blue{
	color: lightblue;
}

/*header*/

header{
	background-color: var(--primary-color);
	font-family:var(--alata);

}
header .site-title{
	font-family: var(--goodtime)
}

.container .dropdown-toggle,
.container .dropdown-item{
font-size: 0.7rem;
}

.header-links a{
	font-size: 0.9rem;
	text-decoration: none;
	color:#fff;
}

/*navigation menu*/

/*parralex home*/

/*card*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family:var(--alata);
}

.price {
  color: #000;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color:#16a085 ;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
 	
}
.card button a{
 color: #fff;
}
.card button:hover {
  opacity: 0.7;
   background-color: var(--primary-color) ;
   display: block;
}
/*#card*/
.alert-dark{
	background-color: var(--primary-color);
} 
.alert-secondary{
	background-color: #F8F9FA;
}
.btn-outline-primary{
	color: #fff;
	border: 2px solid #fff !important;

}
.btn-outline-primary:hover{
	background-color: #fff !important;
	color: background-color: var(--primary-color)!important;
}
.btn-success{
	background-color: var(--primary-color)!important;
}
/*cart*/
table tr a .my_btn{
	color: red;
	text-decoration: none;
}
@media(max-width: 550px){
.header-links a{
	font-size: 0.9rem;
	text-decoration: none;
	color:#fff;
	text-align: justify;

}
header{
	box-sizing: border-box;
}
.fakeimg{
	padding: 5px;
}
.mysvg{
	display: none;
}
.form-container{
		background-color: var(--primary-color);
}