

<!--<div id="content1">-->
<!--    <div class="flip-card">-->
<!--    <div class="flip-card-inner" >-->

<!--<div class="flip-card-front">-->
<!--    {%if instance.image%}-->
<!--    <div class="inner">-->
<!--        <img class="thumbnail" src="{{instance.image.url}}">-->
<!--    </div>-->
<!--    {%endif%}-->
<!--    <div class="box-element product">-->
<!--      <h6><strong>{{instance.title}}</strong></h6>-->
<!--        <p><strong>{{instance.description}}</strong></p>-->
<!--      <hr>-->
<!--        <p>by<strong> {{instance.company_name}}</strong></p>-->
<!--        <hr>-->
<!--           <h4 style="display: inline-block; ">${{instance.price|floatformat:2}}</h4>-->
<!--      <a href="{{instance.get_absolute_url}}" data-product={{product.id}} data-action="add" class="btn btn-outline-success add-btn update-cart">Add to Cart</a>-->
<!--    &lt;!&ndash;   <a href="{{instance.get_absolute_url}}"class="btn btn-outline-success ">View</a> &ndash;&gt;-->



<!--    </div>-->
<!--</div>-->











<!--  </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="col">-->
<!--<div class="card-container" >-->
<!--  {%if instance.image%}-->
<!--    <div class="inner">-->
<!--        <img class="thumbnail" src="{{instance.image.url}}">-->
<!--    </div>-->
<!--    {%endif%}-->

<!--          <div class="card-body text-center">-->
<!--            <h5 class="card-title"> <strong>{{instance.title}}</strong></h5>-->
<!--            <p class="card-text ">${{instance.price|floatformat:2}} </p>-->
<!--          </div>-->
<!--        </div>-->

<!--         <div class="card card-back" >-->
<!--          <img src="{{instance.image.url}}" class="card-img-top" alt="...">-->

<!--          <div class="card-body">-->

<!--            <a href="{{instance.get_absolute_url}}"class="btn btn-outline-success btn-block ">Add to Cart</a>-->
<!--          </div>-->
<!--        </div>-->
<!--</div>-->
<!--</div>-->
<div class="col-sm-12 col-md-4 col-lg-3 my-3">


<div class="card">
     {%if instance.image%}
  <img class="thumbnail" src="{{instance.image.url}}">
    {%endif%}
  <h2>{{instance.title}}</h2>
  <p class="price">${{instance.price|floatformat:2}}</p>
  <p>{{instance.description}}</p>
    <p>by <strong> {{instance.company_name}}</strong></p>
  <p><button> <a href="{{instance.get_absolute_url}}">Add to Cart</a></button></p>
</div>
</div>